<h1><%= @daywisemenu.menuitem %></h1>
<p><strong>Menu_Item: </strong> <%= @daywisemenu.menuitem %><br />
<strong>Day :</strong> <%= @daywisemenu.day.dayname %><br />

</p>

<%= link_to 'Back', {:controller => 'menudisplay', :action => 'index'} %>
